@font-face {
  font-family: Resist;
  src: url(./fonts/ResistText-Light.otf);
}


html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: Resist;
}

a {
  text-decoration: none;
  color: #fff;
}

/* HEADER */

#header {
  width: 100%;
  background-color: #14213d;
  display: flex;
  align-items: center;
  padding: 10px;
  position: absolute;
  box-shadow: 1px 1px 20px 10px #888888;
  /* border-botom: 1px solid rgba(255, 255, 255, 0.5); */
}

#header h1 {
  margin: 0;
  color: #FFFFFF;
  margin-right: 4px;
}

#nav-bar {
  width: 40vw;
  position: absolute;
  right: 0;
}

#nav-bar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* padding: 15px; */
}

#nav-bar ul li {
  white-space: nowrap;
  list-style: none;
}

.hover-underline {
  display: inline-block;
  position: relative;
  color: #fff;
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FCA311;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* MAIN */

.mask {
  margin-top: 56px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #386641;
  opacity: 0.9;
}
img {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  position: absolute;
  left: 0px;
  top: 71px;
  height: 800px;
  width: auto;
}

#btnControl {
  display: none;
}
#btnControl:checked + label > div {
  display: none;
}